*~
/P0/TheMatrix/nbproject/private/
/P0/TheMatrix/build/
/P0/DragonBall/nbproject/private/
/P0/DragonBall/build/
/P0/HolaMundo/nbproject/private/
/P0/HolaMundo/build/
/P2/RescueBot/nbproject/private/
/P2/RescueBot/build/
/P2/RescueBot/nbproject/project.properties
/P2/RescueBot/dist/